
body {
	font-family: 'Karla', sans-serif;
;

}
	
header {
	width: 100%;
	padding-left: 25px;
	padding-bottom: 10px;
/*	background-color: #d4ecd3;
*/	overflow: auto;
	position: fixed;
	border-bottom: 1px solid #1cbb81;
/*	border-bottom: 1px solid #dc6597; 
*/
}

.gone {
	color:rgba(0,0,0,0);
}

#top {
	width: 100%;
	height:65px;
}

h1 {
	font-size: 3em;
	line-height: 120%;
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 #fff, 
	1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
	float: left;
}

header nav {
	float: right;
	padding-top: 30px;
	padding-right: 25px;
}
header ul li {
	display: inline-block;
	padding-right: 20px;
}
header ul li a{
	text-decoration: none;
	color: black;
}

h2 {
	font-size: 5em;
/*	font-family: 'Bree Serif','Merriweather', serif;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;*/
/*	color: white;
*/	font-weight: bold;
	/*text-shadow: -1px -1px 0 #dc6597, 
	1px -1px 0 #dc6597,
    -1px 1px 0 #dc6597,
     1px 1px 0 #dc6597;*/

}
#drink {
	letter-spacing: 45px;
}
.your {
	color: white;
	display: inline-block;
	text-shadow: -1px -1px 0 #faa828, 
	1px -1px 0 #faa828,
    -1px 1px 0 #faa828,
     1px 1px 0 #faa828;
}
.wrapper {
	max-width: 450px;
	margin: 0 auto;
}

main {
	padding: 40px 0;
	text-align: center;
/*	padding-top: 150px;
*/	
}

form {
	padding-top: 25px;
	padding-bottom: 25px;
}

#usermsg {
    width: 350px;
    border: 1px solid #faa828; 
}
#coffee {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.1em;
/*	text-shadow: -1px -1px 0 #8e48b6, 
	1px -1px 0 #8e48b6,
    -1px 1px 0 #8e48b6,
     1px 1px 0 #8e48b6
*/
}

b {
	font-weight: 750;
	border-bottom: 2px solid #faa828;

}

#examples {
	padding: 25px;
/*	border-bottom: 1px solid #dc6597; 
*/
}
#grey {
/*	background-color:  #ebfbfc;
*/	
/*background-color: #ecfaef;
*/	background-color: #ecfaf5;
	overflow: auto;

}
#examples li {
	padding-bottom: 10px;
	line-height: 110%;
}

.wrapper2 {
	max-width: 800px;
	margin: 0 auto;
}

#pics {
	text-align: center;
	padding: 25px;
	border-bottom: 1px solid #1cbb81; 
/*	border-top: 1px solid #dc6597; 
*/
}
img {
	width: 200px;
	display: inline-block;
	margin: 10px;
	border: 1px solid #faa828;

}

footer {
	width: 100%;
	padding-left: 25px;
	padding-bottom: 10px;
	height: 30px;
	padding-top: 20px;
	font-weight: lighter;
	font-size: .8em;
	overflow: auto;
}

