// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  	font-size: 30px;
  	font-weight: 800;
  	font-family: 'Merriweather', serif;
}

header {
  	background: black;
	overflow: auto;
	border-bottom: 5px solid yellow;
	padding: 0px 50px;
}


header .logo {
  	color: yellow;
  	float: left;
}

header nav {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 30px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

header nav ul li a {
  color: white;
}



h3 {
	font-family: 'Merriweather', serif;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

#quote {
	background: rgb(200,200,200);
	height: 35px;
	color: black;
	padding: 20px;
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 25px;
	text-align: center;
}

.strike {
	text-decoration: line-through;
	color: rgb(150, 150, 150);
}
.underline {
	border-bottom: 3px solid yellow;
/*	text-decoration: underline;
*/}
.left  {
	display: inline-block;
}


#imgbox {
	background-image: url('../img/coworking.jpg');
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: auto;
}
#matchbox {
	background: rgba(255, 255, 255, .8);
	width: 435px;
	height: 250px;
	border: 2px solid rgb(100,100,100);
	float:right;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 50px;
	margin: 45px 0;
}


#imgbox h2 {
	font-size: 28px;
  	font-weight: 800;
	line-height: 10%
}


#boxes {
	background: rgb(300,300,300);
	overflow: auto;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 20px 0;
}
.box {
	/*display: inline-block;
	width: 28%;
	padding: 0px 2.5% 2% 2.5%;*/
	float: left;
	width: 27.3333%;
	padding: 0% 3%;
}

p {
	font-size: 21px;
	line-height: 150%;
}
.borderright {
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
}

.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 10px 0;
  width: 100%;
  font-size: 20px;
  font-family: "Oswald";
  text-align: center;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 3px 1px #888888;
  letter-spacing: 1px;
}

.yellow {
  background: yellow;
  color: black;
}

.grey {
  background: rgb(200,200,200);
  color: black;
}

footer {
	background: black;
	height: 40px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 35px;
	padding-left: 50px;
	font-size: 20px;
}


