/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 940px;
  margin: auto;
}

header {
  float:left;
  background-color: #033048;
  padding: 20px;
  padding-left: 90px;
}
h1{
  font-weight: 700;
  color: white;
  font-size: 36px;
}
nav{
  background-color: #033048;
  padding: 33px;
  font-size: 18px;
  text-align: right;
  padding-right: 90px;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: #f9e42e;
  margin: 0 0 0 40px;
}
h2{
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  color:#033048;
}

main{
  background-color: #f0efef;
  width: 550px;
  height:1500px;
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 20px;

  float: left;
}
main p{
  font-size: 20px;
  line-height: 150%;
  color: #606161;
  font-weight: 300;
}

main p::first-letter { 
    font-size: 300%;
    color: grey;
    font-weight: 600;
}

main img{
  display: block;
  padding-top:20px;
  padding-bottom:10px;
  width: 550px;
}
main div{
  text-align: right;
}
main div a{
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #033048;

}

aside{
  display: inline-block;
  float: right;
  background-color: #f0efef;
  width:280px;
  height:1550px;

}

aside a{
  display: block;
  margin-left: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #033048;
  font-weight: 300;
  line-height: 150%;
}
aside p a{
  font-weight: 600;
  margin:-1px;
  font-size: 14px;

}
aside p{
  font-size: 14px;
  width: 175px;
  color: #033048;
}

aside img{
  display: block;
  padding-top: 50px;
  width: 175px;

}

h3{
  font-size: 24px;
  color:#033048;
  font-weight: 800;
  line-height: 200%;
  padding-top: 40px;

}

#signup{
  background-color: #f9e42e;
  height: 100px;
  clear:both;
  text-align: center
}
button{
  font-weight: bold;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #033048;
  height: 50px;
  width: 250px;
  border: 0px;
  border-radius: 5px;

}
footer{
  clear: both;
  background-color: #121212;
  height: 250px;
  text-align: center;
  color: white;
  font-size: 10px;
}
footer a{
  margin: 0 20px;
  line-height: 650%;
}
footer div{
  padding-top: 40px;
  font-weight: 700;
  color: #f9e42e;
  font-size: 36px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




