/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 940px;
  margin: auto;
}

header {
  background-color: #033048;
  height: 90px;
  width: 940px;
}

h1 {
  font-weight: 700;
  color: white;
  font-size: 36px;
  padding-left: 90px; 
  padding-top: 20px;
  float: left;
}

nav {
  font-size: 18px;
  text-align: right;
  padding-right: 90px;
  padding-top: 35px;
}

  nav a {
    display: inline-block;
    text-decoration: none;
    color: #f9e42e;
    margin: 0 0 0 40px; 
  }

section {
  background-color: #f0efef;
  height:1500px;
  width: 940px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  color: #033048;  
}

main {
  width: 550px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 90px;
  float: left;  
}

  article p {
    font-size: 20px;
    font-weight: 300; 
    line-height: 150%;
    color: #606161;
  }

  article p::first-letter { 
      font-size: 300%;
      font-weight: 600;  
      color: grey;
  }

  article img {
    display: block;
    width: 550px;  
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .read-more {
    text-align: right;  
  }

  .read-more a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #033048;  
  }

aside {
  display: inline-block;
  float: right;
  width: 280px;
}

  aside a {
    display: block;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #033048;
    line-height: 150%;  
  }

  aside p {
    font-size: 14px;
    color: #033048;  
    width: 175px;
  }

    aside p a {
      font-weight: 600;
      font-size: 14px; 
      margin: -1px;
    }

  aside img {
    display: block;
    width: 175px; 
    padding-top: 50px;
  }

h3 {
  font-size: 24px;
  font-weight: 800;
  color: #033048;
  line-height: 200%;
  padding-top: 40px;  
}

#signup {
  background-color: #f9e42e;
  height: 100px;
  clear: both;
  text-align: center; 
}

button {
  font: bold 14px 'Open Sans', sans-serif;
  color: white;
  background-color: #033048;
  height: 50px;
  width: 250px;
  border: 0px;
  border-radius: 5px; 
}

footer {
  clear: both;
  background-color: #121212;
  height: 250px;
  text-align: center;
  color: white;
  font-size: 10px;  
}

  footer a {
    margin: 0 20px;
    line-height: 650%;  
  }

  footer h4 {
    padding-top: 40px;
    font-weight: 700;
    font-size: 36px;  
    color: #f9e42e;
  }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




