h2 {
	font-size: 25em;
	font-family: 'Bree Serif','Merriweather', serif;
	display: inline-block;
}

h3 {
	font-size: 7em;
	font-family: 'Bree Serif','Merriweather', serif;
	padding: 300px 50px;
	font-weight: bold;

}
.option {
	color:rgb(200,200,200);
	text-decoration: underline;
}

.pop {
	color:rgb(200,200,200);

}