#nav{
	color:white;
	background-color: black;
	margin-bottom: 20px;
}
p{
	font-size: 12px;
	background-color: #f9613a;
	padding-top: 10px;
	padding-bottom: 10px;
	width:800px;
	text-align: center;

}
.blue{
	color:blue;
}
.green{
	color:green;
}
.yellow{
	color:yellow;
}

.container {
  background-color: rgb(222, 222, 222);
  width: 63%;
  margin: 0 auto;
  padding: 15px;
}