h1 {
	letter-spacing: 2px;
	word-spacing: 7px;
	font-size: 250%;
	color: #009e61;
}
h2 {
	letter-spacing: 7px;
	word-spacing: 8px;
}
body {
	font-family: Helvetica, Arial, sans-serif;	
	text-align: center;
	background: white;
	letter-spacing: 20px;

}
