
body {
	font-family: 'Karla', sans-serif;
	padding-top: 10px;

}
	
header {
	width: 100%;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: white;
	overflow: auto;
}

h1 {
	font-size: 3em;
	line-height: 120%;
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 #fff, 
	1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
	float: left;
}

header nav {
	float: left;
	padding-top: 30px;
	padding-left: 30px;
}
header ul li {
	display: inline-block;
	padding-right: 20px;
}
header ul li a{
	text-decoration: none;
}

h2 {
	font-size: 4em;
/*	font-family: 'Bree Serif','Merriweather', serif;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;*/
	line-height: 120%;
/*	color: white;
*/	font-weight: bold;
	/*text-shadow: -1px -1px 0 #dc6597, 
	1px -1px 0 #dc6597,
    -1px 1px 0 #dc6597,
     1px 1px 0 #dc6597;*/

}

.wrapper {
	max-width: 500px;
	margin: 0 auto;
}

main {
/*	background-color: #c1ecd8;
*/	padding: 30px 0;
	border-top: 1px solid #dc6597; 
	border-bottom: 1px solid #dc6597; 
}

form {
	padding-top: 25px;
	padding-bottom: 25px;
}

#usermsg {
    width: 400px;
    border: 1px solid #dc6597; 
}
#anxiety {
	color: #00763a;
	font-weight: bold;
	text-transform: uppercase;
/*	color: #dc6597;
*/	font-size: 1.5em;
/*	text-shadow: -1px -1px 0 #d13576, 
	1px -1px 0 #d13576,
    -1px 1px 0 #d13576,
     1px 1px 0 #d13576
*/

}

#examples {
	padding-top: 25px;

}



